/*Modify font for entire app*/
* { font-family: Helvetica; }

/*Modify headers*/
h1 {
	color: #0c577c;
}

h2 {
	color: #0c577c;
}

h3 {
	color: #0c577c;
}

h4 {
	color: #0c577c;
}

/*Modify p*/
p {
	font-size: 16px;
}
